div {
    text-align: center;
    margin-top: 100px;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    color: red;
}

h2 {
    color:white;
}

button {
    background-color: aquamarine;
	color: black;
	width: 150px;
	height: 40px;
}
